.allContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between
}

.heading {
  font-size: 30px;
  font-weight: 300;
  color: var(--secondary);
}

.details p {
  margin: 0;
}

.details {
  background-color: var(--primary);
  padding: 30px 20px;
  border-radius: 15px;
}

.numberWrapper {
  display: flex;

}

.number {
  font-size: 40px;
  font-weight: bold;
  display: inline;
  align-items: flex-end;
  margin: 0;
  margin-right: 5px;
}

.illustration {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .heading {
    margin-bottom: 20px;
  }

  .details {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .heading {
    margin-bottom: 10px;
  }

  .details {
    margin-bottom: 20px;
    padding: 20px;
  }

  .number {
    font-size: 30px;
  }
}

@media screen and (max-width: 548px) {
  .details {
    padding: 10px 15px;
  }

  .details p {
    margin-bottom: 5px;
  }

}