.container {
  width: 20%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  width: 292px;
}

@media screen and (max-width:1011px) {
  .container {
    width: 100%;
    flex-direction: row;
  }

}

@media screen and (max-width:1250px) {
  .container {
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width:549px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

}