.container {
  flex-grow: 1;
  background-color: var(--primary2);
  border-radius: 15px;
  overflow: hidden;
  /* box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2); */
}

.container:hover .button {
  display: block;
  position: absolute;
  z-index: 100;
  transition: all 0.2s;
}

.button {
  display: none;
  background-color: var(--secondary);
  color: var(--primary2);
  position: absolute;
  z-index: 100;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.2s;
}


@media screen and (max-width:800px){
  .container {
 width:100vw;
 flex-grow:1;
  
  }

 .container .button {
  display: block;
  position: relative;
  z-index: 100;
   
  }
}