.section {
  
  padding: 50px 0;
  /* background-color: #202C39; */
  background-color: var(--primary);
}

.section::after {
  background-image: url('../../assets/curved-section-bottom.svg');
}

.container {
 
  max-width: 100vw;
  margin: 0 auto;
  padding:2em;
}

.details {
  
  display: flex;
  gap: 20px;
  margin-top: 20px;
 
}

@media screen and (max-width:800px) {
  .details{
    display:flex;
    flex-direction:column;
  }
  
}