.region {
  background-color: var(--primary2);
  align-items: center;
  flex: 1;
  border-radius: 15px;
  padding: 50px 30px;
  color: var(--text);
}

h1 {
  margin: 0;
}

.regionDetails {
  position: relative;
  margin-bottom: 20px;
}


.regionName {
  font-size: 30px;
  line-height: normal;
  margin-bottom: 5px;
}

.noRegion {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 20px;
}

h2 {
  margin: 0;
  /* display: inline-block; */
  font-size: 30px;
  font-weight: 200;

  color: var(--secondary);
  margin-bottom: 20px;
}

.countryTitle {
  font-weight: 400;
  font-size: 25px;
}


.flag {
  /* position: absolute; */
  top: 0;
  right: 0;
  border-radius: 5px;
  border: solid 2px var(--primary);
}