.mass-container {
  background-color: rgb(229, 231, 245);
  border-radius: 8px;
  padding: 1rem;
  max-width: 700px;
  margin: 1rem;
}
.title {
  color: rgb(105, 105, 106);
  /* color: rgb(12, 22, 79); */
  /* background-color: rgb(38, 182, 183); */
}
.data-text {
  color: rgb(38, 182, 183);
}
