.summary-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 2fr;
  margin: 0 auto;
}

.strikes-container {
  background-color: rgb(229, 231, 245);

  border-radius: 8px;
  padding: 1rem;
  /* max-width: 700px; */
  margin: 0.5rem;
}

.mass-container {
  background-color: rgb(229, 231, 245);
  border-radius: 8px;
  padding: 1rem;
  /* max-width: 700px; */
  margin: 0.5rem;
}
.title {
  color: rgb(105, 105, 106);
}
.data-text {
  color: rgb(38, 182, 183);
}
.learn-more-container {
  padding-top: 3rem;
  margin-top: 1rem;
  background-color: rgb(38, 182, 183);
  border-radius: 8px;
}

.types-of-meteorites-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.grid-item {
  padding: 1rem;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .summary-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
