.section {
  background-color: var(--primary2);
  padding: 50px 0;
}

.sectionContainer {
  max-width: 1276px;
  margin: 0 auto;

}

.tableContainer {
  padding: 20px;
  min-height: 692px;
  box-sizing: border-box;
  background-color: var(--primary);
  border-radius: 15px;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--primary);
  box-sizing: border-box;
}

.table th {
  padding: 15px;
  background-color: var(--primary2);
  color: var(--secondary);
  box-sizing: border-box;
}

.table th:first-child {
  border-radius: 15px 0 0 15px;
}

.table th:last-child {
  border-radius: 0 15px 15px 0;
}

.table td {
  padding: 15px;
  text-align: center;
  width: 20%;
  color: var(--text);
  font-weight: 500;
  box-sizing: border-box;
}

.table td:first-child {
  border-radius: 15px 0 0 15px;
  box-sizing: border-box;
}

.table td:last-child {
  border-radius: 0 15px 15px 0;
}

.table .coloredRows {
  background-color: var(--primary3);
}

/*Pagination*/

.paginationContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  height: 40px;
}

.paginationButtons {
  display: flex;
  gap: 3px;
}

.paginationButtons button {
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButtons button:disabled {
  background-color: var(--primary3);
}

.paginationButtons button:hover {
  background-color: var(--primary3);
}

.gotoStartButton {
  border-radius: 15px 0 0 15px;
}

.gotoEndButton {
  border-radius: 0 15px 15px 0;
}

.pageNumbers {
  color: var(--text);
  background-color: var(--primary);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNumbers strong {
  margin-left: 5px;
}

.goToPage {
  display: flex;
  align-items: center;
}

.goToPage .goToPageTitle {
  background-color: var(--primary);
  margin-right: 3px;
  color: var(--text);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2em;
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
}

.goToPage .input {
  padding: 0.6em 1.2em;
  background-color: var(--primary);
  border-radius: 0 15px 15px 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

.input input {
  width: 40px;
  outline: 0;
  background-color: var(--primary);
  border: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--text);
  font-weight: 600;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.msg {
  font-size: 32px;
}

@media screen and (max-width: 1300px) {
  .sectionContainer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .paginationContainer {
    height: 30px;
  }

  .goToPage .goToPageTitle {
    font-size: 13px;
  }

  .pageNumbers {
    font-size: 10px;
  }

  .paginationButtons button {
    padding: 0 10px;
  }

  .goToPage .input {
    padding: 0 10px;
  }
}

@media screen and (max-width: 549px) {

  .tableContainer {
    padding: 10px;
    position: relative;
  }

  .paginationContainer {
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    margin-top: 10px;
  }

  .paginationButtons {
    order: 1;
    height: 40px;
  }

  .goToPage {
    order: 2;
    height: 40px;
  }

  .goToPageTitle {
    flex-grow: 1;
  }

  .pageNumbers {
    flex-grow: 1;
    padding: 5px 5px;
  }

  .goToPage .input {
    width: 77px;
  }

  .table th {
    padding: 5px 0;
    width: 40px;
    height: 40px;
  }

  .table td {
    padding: 5px 0;
    height: 40px;
  }

  .table td:first-child {
    padding-left: 10px;
  }

  .table td:last-child {
    padding-right: 10px;
  }

  .paginationButtons svg {
    height: 15px;
    width: 15px;
  }

}

@media screen and (max-width: 350px) {
  .table {
    font-size: 10px;
  }
}