.container {
  display: inline-flex;
  height: 38px;
  background-color: var(--primary2);
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 15px;
}

.input {
  border: 0;
  background-color: transparent;
  outline: 0;
  width: 200px;
  padding-left: 20px;
}

.input::placeholder {
  color: var(--text);
}

@media screen and (max-width: 549px) {
  .container {
    width: 100%;
    font-size: 13px;
  }

  .input {
    flex-grow: 1;
    width: 100%;
    font-size: 13px;
  }
}