table {
  font-family: "PlusJakartaSans-Regular", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-color: orange;
  width: 100%;
  table-layout: fixed;
  background-color: rgb(16, 40, 173);
  color: white;
  margin-top: 100px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(12, 22, 79);
  color: white;
}

table td,
table th {
  border: 1px solid black;
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
  color: black;
}

.clrBtn {
  background-color: red;
  margin-left: 10px;
  padding: 3px;
  color: white;
  cursor: pointer;
}
.clrBtn:hover {
  background-color: rgb(228, 113, 113);
}
.clrBtn:active {
  padding: 2px;
}

.goto {
  color: white;
  margin-left: 20px;
  display: flex;
  /* width: 60px; */
}

.goto input {
  margin-left: 10px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  margin-bottom: 100px;
}

.paginationContainer button {
  padding: 5px;
  /* margin: 0 5px; */
  color: white;
  background-color: rgb(16, 40, 173);
  border-radius: 0;
  border-color: #f2f2fb;
}

.pageNumbers {
  background-color: rgb(16, 40, 173);
  color: white;
  padding: 8px;
  border-top-color: orange;
}

.custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #f2f2fb;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: #f40606;
  box-shadow: -10px 0 12px 3px #f40606;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: ct4 2s infinite linear;
}

@keyframes ct4 {
  100% {
    left: calc(100% + 20px);
  }
}

@media (max-width: 768px) {
  .table-container {
    width: 90%;
    margin: 0 auto;
  }
  table {
    max-height: none;
    width: 100%;
  }
  .paginationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .goto {
    margin-top: 15px;
  }
  .filterInput {
    width: 80%;
    margin-bottom: 5px;
    height: 30px;
    font-size: 8px;
  }
}
