:root {
  --main-font-color: #e6e681;
  --second-bg-color: #202c39;
}

/* .table-container {
  width: 90%;
  margin: 0 auto;
} */

/* table {
  font-family: "PlusJakartaSans-Regular", Arial, Helvetica, sans-serif;
  width: 100%;
  table-layout: fixed;
  background-color: #283845;
  color: black;
  margin-top: 100px;
  overflow-wrap: break-word;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  font-size: 18px;
} */
/* 
table th {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--second-bg-color);
  color: var(--main-font-color);
} */

table td,
table th {
  /* border: 1px solid black; */
  /* padding: 8px; */
  color: var(--main-font-color);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tableFilter {
  margin: 10px 0;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tableFilter {
  margin: 10px 0;
}

table input {
  line-height: 30px;
}

.clrBtn {
  background-color: #ff6633;
  margin-left: 10px;
  padding: 3px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.clrBtn:hover {
  background-color: #f49e82;
}

.clrBtn:active {
  padding: 2px;
}

.goto {
  color: #e6e681;
  margin-left: 20px;
  display: flex;
  /* width: 60px; */
}

.goto input {
  margin-left: 10px;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  margin-bottom: 100px;
}

.paginationContainer button {
  padding: 5px;
  /* margin: 0 5px; */
  color: var(--main-font-color);
  background-color: var(--second-bg-color);
  border-radius: 0;
  /* border-color: #f2f2fb; */
}

.pageNumbers {
  background-color: var(--second-bg-color);
  color: var(--main-font-color);
  padding: 8px;
}

/* .custom-loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #f2f2fb;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: #f40606;
  box-shadow: -10px 0 12px 3px #f40606;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: ct4 2s infinite linear;
} */

@keyframes ct4 {
  100% {
    left: calc(100% + 20px);
  }
}

@media (max-width: 768px) {
  .table-container {
    width: 90%;
    margin: 0 auto;
  }

  table {
    max-height: none;
    width: 100%;
    font-size: 12px;
  }

  .paginationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .goto {
    margin-top: 15px;
  }

  .filterInput {
    width: 80%;
    margin-bottom: 5px;
    height: 20px;
    font-size: 8px;
  }

  .clrBtn {
    padding: 1px;
    font-size: 11px;
  }
}