.footerContainer {
  height:25vw;


}

.curvedBottom{
  display:flex;
  background-image:url('../../assets/starryCurvedFooter.png');
  background-size:cover;
  width:100vw;
  height: 20vw;
}
.madeBy{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color:transparent;
flex-wrap:wrap;
}

.footerLogo{
  height:10em;
  width:10em;
  border-radius:50%;
}

footer{
  background-color:transparent;
  height:fit-content;
  padding-top:10em;
}

@media screen and (max-width:400px){
  .madeBy,footer h2{
    font-size:.8em;
  }
}