footer {
  background-color: var(--primary);
}

.container {
  max-width: 1276px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 200px;
}

.creators {
  border-left: solid 1px var(--primary2);
  width: 250px;
  padding-left: 30px;
}

.creators h2 {
  color: var(--secondary);
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 700px) {
  .container h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .container img {
    margin-bottom: 40px;
  }

  .container h2 {
    font-size: 20px;
  }

  .creators {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    border-right: solid 1px var(--primary2);
  }
}