/*FOOTER*/

#footerCurvedWrap{
  background-image:url('../../assets/starryFooterWide.png');
  background-size:cover;
  

}
footer{
  
  
  display:grid;
    grid-template-columns:1fr 1fr;
  
   width:100%;
    height:fit-content;
    justify-content:center;
    justify-items:center;
    display:grid;
    background-color:transparent;
  
   
    
  }
  
  footer li{
    list-style: none;
    color:white;
    font-size:larger;
  }
  footer li:hover{
    color:#34F3F4;;
  }
  
  footer a:hover{
    
    cursor:pointer;
    text-decoration:underline;
  }
  