#curvedWrapper{
  background-image:url('../../assets/starryCurvedHeader.png');
  background-size:100%;
  background-repeat:no-repeat;
  
  height:20vw;
  padding-bottom:100px;
  /* background-color:darkblue; */


}

.headerContainer {

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
    background-color:transparent;
    margin-bottom:100px;
   
  
  }


  .logo{
    align-self:center;
  }


  