.headerContainer {
    background-image:url('../../assets/Subtract.png');
    background-size:cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
    
   
  
  }