.headerContainer {
    background-image:url('../../assets/starryMeteorHeader.png');
    background-size:50%;
    background-repeat:no-repeat;
    background-position-x:center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vw;
    
   
  
  }

  .logo{
    align-self:center;
  }