.madeBy {
    background-color: transparent;
    height: 100%;
}

.madeBy ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    margin-left: 0px;


}

.madeBy ul li {
    color: var(--secondary);
}



.creator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--primary2);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.creator:hover {
    background-color: var(--primary3)
}

.creator a:first-child {
    flex-grow: 1;
}

.creator a {
    display: inline-flex;
    text-decoration: none;
}

.creator a svg {
    fill: var(--secondary);
}

@media screen and (max-width: 700px) {
    .creator {
        padding: 10px 15px;
        font-size: 13px;
    }

    .creator a svg {
        width: 20px;
        height: 20px;
    }
}