.headerContainer {




}


.navbar,
.navbar nav {
  position:absolute;
  bottom:0px;
  left:0px;
display: flex;
  list-style: none;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  /* background-color: purple; */
  /* background-image: url('../../assets/bg.svg'); */
  background-color:transparent;
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  padding: 0px;
  align-content: space-between;
}

nav {
  /* flex-direction: column; */
  
}



.navbar ul {
  display: flex;
  padding: 1em 0px 1em 0px;
  margin: 0px;
  height: 100%;
  list-style: none;
  background-color:transparent;
  justify-content: center;
  
  width:100vw;
  
}

.navbar a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 1em 0px 1em;
  font-size: larger;
  color: white;

}

.navbar a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.navbar li{
  display:flex;
  height:100%;
  align-items: center;
}


/*collapsed*/

/* .collapsedUl{
  background-image:url('../../assets/starryMeteorHeader2.png')
} */

.collapsedBtn{
  display:flex;
    height: 100%;
 
  padding:'0px';
  margin:0px;
  background-color:transparent;
  outline:none;
  border:none;
  justify-content:center;
}
