.navbar nav ,navbar ul{
    display:flex;
  list-style:none;
  width:100%;
  justify-content: center;
  align-items:center;
  align-content:space-between;
  background-color:#34F3F4;;
  padding:0px;
  align-content:space-between;
}