.testComponentContainer {
  display: flex;
  height: 20em;
  width: 100vw;
  background-color: green;
  align-items: center;
  justify-content: space-around;
}

.testContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}
