/*BODY*/
body{
  display:flex;
  flex-direction:column;
  align-content:center;
  padding:0px;
  margin:0px;
  
}

#root{
  width:100%;
  padding:0px;
}

.App{
  width:100%;
  margin:0px;
  padding:0px;
  background-color:black;
}

*{
  font-family: 'Overpass', sans-serif;

  font-family: 'Plus Jakarta Sans', sans-serif;
}

/*MAP COMPONENT*/
#mapContainer{
  display:flex;
  flex-direction:column;
  align-items: center;
  max-width:100%;

  
}
#mapContainer img{
  width:500px;
  height:auto;
}

#mapContainer form,.checkGroup{
  display:flex;
  justify-items:flex-start;
  
}

#mapContainer form{
  display:flex;
  justify-items:flex-start;
  width:500px;

}


#searchContainer{
  display:flex;
  border:1px solid white;
}

.search{
  border:none;
}
.checkGroup{
  display:flex;
  width:100%;
  align-items:flex-start;

}

  /*HEADER*/
  header{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    background-color:#0C164F;
    height: 20vw;
    
  }

header nav, header ul{
  display:flex;
  list-style:none;
  width:100%;
  justify-content: center;
  align-items:center;
  align-content:space-between;
  background-color:#34F3F4;;
  padding:0px;
  align-content:space-between;
  
}
header nav{
  height:100%
}

header li{
  display:flex;
  align-items:center;
  height:100%;
  margin:0px;
  color:black;
  padding:0px;
  width:fit-content;
  text-align:center;
}
header a:hover{
  background-color:white;
  cursor:pointer;
}



header ul a {
  height:100%;
  padding:0px 1em 0px 1em;
}

header ul {
  height:100%;
}


.logo{
  display:block;
  height:200px;
  width:auto;
  border-radius:50%;
  padding:1em;

}


/*FOOTER*/
footer{
  display:grid;
  grid-template-columns:1fr 1fr;
  background-color:#0C164F;
  width:100%;
  height:20vw;
  justify-content:center;
  justify-items:center;
  display:grid;

 
  
}

footer li{
  list-style: none;
  color:white;
  font-size:larger;
}
footer li:hover{
  color:#34F3F4;;
}

footer a:hover{
  
  cursor:pointer;
  text-decoration:underline;
}







/*SUMMARY*/

.summaryContainer{
  display:flex;
  width:100%;
 justify-content:center;
 align-self:center;
 

  
  
  
  
}

#graphsContainer img {
  width:25%;
padding:2em;
  

}


.seeMore{
  width:100%;
  justify-self:center;
}

/*TABLE*/

.tableContainer{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  overflow:hidden;
  background-color:#0C164F;
  height:100vh;
  max-height:100vh;
  margin-top:2em 0em 2em 0em;
  
  }

tr,td,th{
  height:5px;
}

.nextPrevButtons{
  display:flex;
  width:100%;
  justify-content:center;
  
}
td{
  border:2px solid white;
  height:fit-content;
  width:fit-content;
}

.tableContainer button{
  background-color:#0C164F;
  margin:0em 2em 0em 2em;
}

/*LOADING DIV*/

.loading{
  position:absolute;
  display:flex;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  background-color:black;
  z-index: 99;
}

