#layoutBody{
  display:flex;
  justify-content:space-between;
  align-content:center;
  align-items:center;
  flex-direction:column;
  max-width:100vw;
  justify-content:center;
}
*{
  font-family: 'Overpass', sans-serif;

  font-family: 'Plus Jakarta Sans', sans-serif;
}
footer{
  display:grid;
  justify-content: center;
  width:100%;
}

#mapContainer{
  display:flex;
  flex-direction:column;
  width:90vw;
  
}

#mapContainer form,.checkGroup{
  display:flex;
  
}


#searchContainer{
  display:flex;
  border:1px solid white;
}

.search{
  border:none;
}
.checkGroup{
  display:flex;
  width:100%;
  align-items:flex-start;

}

  

header ul{
  list-style:none;
}

header{
  width:100%;
  background-color:darkblue;
  height: 20vw;
  
}

footer{
  display:grid;
  grid-template-columns:1fr 1fr;
  background-color:darkblue;
  height:20vw;
  justify-content:center;
}



.testDiv{
  height:10em;
  width:10em;
 
  background-color:yellow;
  border:2px solid green;
  
}
.growDiv{
  flex-grow:3;
}

td{
  border:2px solid blue;
  height:10vw;
  width:10vw;
}

#graphsContainer{
  display:flex;
  flex-wrap:wrap;
  width:100%;

  
  
  
  
}

#graphsContainer img {
  width:25%;
padding:2em;
  

}


.seeMore{
  width:100%;
  justify-self:center;
}

.tableContainer{
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  
  overflow:scroll;
  background-color:darkblue;
  color:white;
  border: 2px solid pink;
  margin:5em;
}

tr,td,th{
  height:50px;
}

.nextPrevButtons{
  display:flex;
  justify-content:space-between;
  width:100%;
}