.searchComponent{
    display:flex;
    align-items:center;
    justify-items:center;
    height:2em;
    padding:5px;
}

.searchBtn{
   background-color:transparent;
   color:black;
   
}

#searchBox{
    height:100%;
    padding:0px;
    margin:0px;
}